header {
  background: burlywood;
}

.container {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  padding: 0.5rem;
}

.headerGrow {
  display: flex;
  flex-grow: 1;
  padding: 0.5rem 1.5rem;
}

.headerGrow > h1 {
  margin: 0;
}

.headerLink {
  color: white;
  text-decoration: none;
}

.headerlink a:hover {
  text-decoration: none;
}

.spaceOnly {
  visibility: hidden;
}

.logo {
  margin-right: -1rem;
}
